{% extends "base.html" %}

{% block main %}
<body>
    <div class="container">
        <h2>menu</h2>
        <p><a class="page-link text-dark" href="list/">・General forum</a></p>
        <p><a class="page-link text-dark" href="dogmatics/">・Dogmatics forum</a></p>
        <p><a class="page-link text-dark" href="{% url 'store:product_list' %}">・Store</a></p>
        <br><h2>Keyword Visualization (the entire bulletin board)</h2>
        <p><br><img src="/media/wordcloud/all.png" class="img-fluid"></p>
        <br><h2>summary</h2>
        <p>・{{sum}}</p>
    </div>
</body>
{% endblock %}