{% extends "base.html" %}

{% block main %}
    <body>
       
        <h1>{{name}} {{chapter.chapter_number}}-{{verse.verse_number}}
        <h3>{{verse.text}}</h3>
        {% csrf_token %}
        <form action="?name={{name}}&chapter={{chapter.chapter_number}}&verse={{verse.verse_number}}" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="post" class="btn btn-primary btn-dark">

        
        {% if verse.image %}
        <h2>Keyword Visualization</h2>
            <img src="/media/img/wordcloud/{{ name }}_{{ chapter.chapter_number }}_{{ verse.verse_number }}.png">

        {% else %}

        {% endif %}
        
        <table class="table table-striped table-hover">
            <tr>
                <th scope="col">name</th>
                <th scope="col">id</th>
                <th scope="col">date</th>
                <th scope="col">text</th>
            </tr>
                {% for p in post %}
                <tr>
                    <td>{{p.owner.username}}</td>
                    <td>{{p.id}}</td>
                    <td>{{p.created_at}}</td>
                    <td>{{p.text}}</td>
                </tr>
                {% endfor %}
        </table>
    </body>
{% endblock %}