{% extends "base.html" %}

{% block main %}
    <body>
       
        <h1>{{name}} {{chapter}}-{{verse}}
        {% csrf_token %}
        <form action="?name={{name}}&chapter={{chapter}}&verse={{verse}}" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="click">
        <table border="1">
            <tr>
                <th scope="col">name</th>
                <th scope="col">id</th>
                <th scope="col">text</th>
            </tr>
                {% for p in post %}
                <tr>
                    <td>{{p.owner.username}}</td>
                    <td>{{p.id}}</td>
                    <td>{{p.text}}</td>
                </tr>
                {% endfor %}
        </table>
    </body>
{% endblock %}