# templates/payment/checkout.html

<!DOCTYPE html>
<html>
 <head>
   <title>商品購入</title>
   <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
   <script src="https://js.stripe.com/v3/"></script>
 </head>
 <body>
   <section>
     <div class="product">
       <div class="description">
         <h3>skilla t-shirt</h3>
         <h5>2,000円</h5>
       </div>
     </div>
     <button type="button" id="checkout-button">Checkout</button>
   </section>
 </body>
 <script type="text/javascript">
   // Create an instance of the Stripe object with your publishable API key
   var stripe = Stripe("sk_test_51QM2PUBqD5txSTx2CKj3jmDHr2mA8OwXjvc0FeyGOdjPiyTWIt8RdrE6iKznM21nQ7GxBNxVRWNoAtMtzyBIB2Qt00bVFRLu3B");
   var checkoutButton = document.getElementById("checkout-button");

   checkoutButton.addEventListener("click", function () {
     fetch("/create_checkout_session/", {
       method: "POST",
       headers: {
           'Accept': 'application/json',
           'Content-Type': 'application/json; charset=UTF-8',
           'X-CSRFToken': '{{ csrf_token }}'
       },
     })
       .then(function (response) {
         return response.json();
       })
       .then(function (session) {
         return stripe.redirectToCheckout({ sessionId: session.id });
       })
       .then(function (result) {
         // If redirectToCheckout fails due to a browser or network
         // error, you should display the localized error message to your
         // customer using error.message.
         if (result.error) {
           alert(result.error.message);
         }
       })
       .catch(function (error) {
         console.error("Error:", error);
       });
   });
 </script>
</html>